html, body, #map-canvas {
	height:	100%;
	margin: 0; 
}

.rm_infodiv {
	width: 240px;
	text-align:center;
}

.rm_viewpanel {
	text-align:center;
}

.rm_picture img {
	border: 0px;
	width: 240px;
}

.rm_picture a:link {
	text-decoration:none;
	border-style:none !important;
	border-width:thin;
	color:#000000;
}

.rm_picture a:visited {
	text-decoration:none;
	border-style:none !important;
	border-width:thin;
	color:#000000;
}

.rm_picture a:hover {
	text-decoration:none;
	border-style:none !important;
	border-width:thin;
	color:#CC9900;
}

.rm_mag {
	padding:0.5em;
}

.rm_caption {
	margin: 0.5em 0em;
	font-size:1.2em;
}

.rm_description {
}
