body, html {
	margin: 0px;
	padding: 0px;
	height: 100%
}

div#edit-form {
	float: left;
	width: 320px;
	height: 100%;
	background-color: #CCD;
}

#map-canvas {
	margin:0px;
	height:100%;
	border-left: 1px solid gray;
}


#rm_buttonblock {
	margin: 8px;
}

#rm_admin_buttonblock {
	margin-top:1.5em;
	font-size: 1.5em;
}

#rm_admin_inputblock {
	padding:1em;
}

.rm_admim_input
{
	margin:5px 0;
}

#rm_label {
padding:0px;
margin:4px;
font-size:small;
}

#rm_tags {
padding:0px;
margin:4px;
font-size:x-small;
}

#rm_edit {
color: blue;
padding:5px;
}

#rm_edit:hover {
color: red;
padding:5px;
}

#rm_delete{
color: blue;
padding:5px;
}

#rm_delete:hover {
color: red;
padding:5px;
}

#instructions {
padding:5px;
font-size:small;
}

.rm_small {
font-size:x-small;
margin-bottom:6px;
}

#leftnav
{
height:100%;
min-height:100%;
float: left;
width: 300px;
margin: 0;
padding: 6px;
}

#navtable {
min-height:700px;
height:95%;
width:98%;
}


#leftnav
{
height:100%;
padding: 6px;
}

