body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

input, button, textarea {
	display: block;
	font-size:1em;
	width:100%;
	padding:0.1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type="button"] {
	color: #FFF;
	background-color: #666;
	border-radius: 0.5em;
	margin-top: 0.5em;
	padding: 0.2em 0em;
}

div#control-panel {
	float: left;
	width: 320px;
	height: 100%;
	background-color: #CCD;
}

#control-panel-inner {
	padding: 1em;
}

#map-container {
	position: relative;
	height: 100%;
	width: 100%;
	margin-left: 320px;
}

#map-clear, #map-undo  {
	position: absolute;
	top: 1em;
	z-index: 99;
	background-color: white;
	border: 2px solid black;
	padding: 0.5em 1em;
}

#map-clear {
	left: 8em;
}

#map-undo {
	left: 13em;
}

#map-canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	margin:0px;
	height:100%;
	width: 100%;
	border-left: 1px solid gray;
}


#rm_buttonblock {
	margin: 8px;
}

#rm_admin_buttonblock {
	margin-top:1.5em;
	font-size: 1.5em;
}

.rm_admin_label {
	margin-top:0.5em;
}

#rm_tags {
padding:0px;
margin:4px;
font-size:x-small;
}

#rm_edit {
color: blue;
padding:5px;
}

#rm_edit:hover {
color: red;
padding:5px;
}

#rm_delete{
color: blue;
padding:5px;
}

#rm_delete:hover {
color: red;
padding:5px;
}

#instructions {
padding:5px;
font-size:small;
}

.rm_small {
font-size:x-small;
margin-bottom:6px;
}

.rm_adminpanel {
	margin-top: 1em;
	font-size: 0.8em;
}

.admin-links {
	margin: 0.5em 0em;
	text-align: center;
}

.rm_adminpanel a.admin-link,
.rm_adminpanel a.admin-link:link,
.rm_adminpanel a.admin-link:visited,
.rm_adminpanel a.admin-link:hover {
	text-decoration:underline;
	border-style:none !important;
	border-width:thin;
	color:#000088;
	margin-top: 1em;
	font-size: 1.3em;
	margin: 0em 1em;
}

