<div class="m">Enter Password</div>
<div class="err">{{ error_message }}</div>
<form action='?op=login' method="post">
	<input type="password" name="pass" maxlength="24" autofocus />
	<input type="submit" value="logon" />
</form>
