<div class="m">Change Password</div>
<div class="err">{{ error_message }}</div>
<form action="?op=changepass" method="post">
	<div>Old Password</div>
	<input type="password" name="oldpass" maxlength="24" autofocus />
	<div>New Password</div>
	<input type="password" name="pass1" maxlength="24" />
	<div>New Password, again</div>
	<input type="password" name="pass2" maxlength="24" />
	<input type="submit" value="change" />
</form>
		