body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

input, button, textarea {
	display: block;
	font-size:0.9em;
	width:100%;
	padding:0.2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type="button"] {
	color: #000;
	background-color: #FFF;
	border-radius: 0.5em;
	margin-top: 0.5em;
	padding: 0.2em 0em;
}

div#control-panel {
	float: left;
	width: 320px;
	height: 100%;
	background-color: #CCC;
}

#control-panel-inner {
	padding: 1em;
}

#map-container {
	position: relative;
	height: 100%;
	margin-left: 320px;
}

#map-message  {
	position: absolute;
	top: 1.5em;
	z-index: 99;
	background-color: #FCC;
	border: 2px solid black;
	cursor: pointer;
	padding: 0.5em 1em;
	left: 6em;
}

#map-canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	margin:0px;
	height:100%;
	width: 100%;
	border-left: 1px solid gray;
}

div#control-panel a {
	font-size:
}
div#control-panel a,
div#control-panel a:link,
div#control-panel a:visited,
div#control-panel a:hover {
	text-decoration:none;
	border-style:none !important;
	color:#000088;
	font-size: 1.2em;
	margin-right: 1em;
	cursor: pointer;
}

.rm_small {
	font-size: 0.7em;
}

.rm_admin_label {
	margin-top: 0.5em;
}

.rm_adminpanel {
}

/* 
 * Route info window specific to admin page 
 */

.rm_adminpanel {
	margin-top: 1em;
	font-size: 0.8em;
}

.admin-links {
	margin: 0.5em 0em;
	text-align: center;
}

.rm_adminpanel a.admin-link,
.rm_adminpanel a.admin-link:link,
.rm_adminpanel a.admin-link:visited,
.rm_adminpanel a.admin-link:hover {
	text-decoration:underline;
	border-style:none !important;
	border-width:thin;
	color:#000088;
	margin-top: 1em;
	font-size: 1.3em;
	margin: 0em 1em;
	cursor: pointer;
}

