
#control-panel {
	position: fixed;
	top: 0;
	left: 0;
}

fieldset {
	background-color:#CCCCCC;
}

fieldset div {
	margin:6px;
}

fieldset input {
	margin: 5px 0px;
}

#admin {
	margin-top: 2em;
}

#message {
	color: red;
	font-size: 0.8em;
	height: 1.2em;
}

/****************/

#table-panel {
	margin-left: 320px;
}

#tableheader {
	position: fixed;
	top: 0px;
	height: 80px;
	background-color: #fff;
	border-bottom: 1px dashed #999;
	padding-left: 10px;
}

#tagname {
	height: 50px;
	font-size: 36px;
}

#tableheader span {
	display: inline-block;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.1em;
}

#tagtable {
	margin-top: 84px;
	padding-left: 10px;
	width: 655px;
}


.tagrow {
	padding: 2px 0;
}

.tagrow:nth-child(even) {
	background-color: #DDD;
}

#tableheader span {
	padding-right: 5px;
}

.tagrow span {
	display: inline-block;
}

#cb_header , .cb{
	text-align: center;
	width: 40px;
}

#label_header, .label{
	width: 200px;
}

#caption_header, .caption {
	width: 400px;
}

.cb input[type="checkbox"], .cb {
	vertical-align: text-bottom;
}
